body{
    background-color: slategrey;
}
.searchContainer{
    text-align: center;
    border: 1px solid black;
    background-color: lightgray;
    height: 4vw;
    width: 100vw;
    margin-bottom: 5px;
}
.searchContainer input{
    width: 25vw;
    height: 3vw;
    text-align: center;
    border-radius: 20px;
    background-color: transparent;
    font-size: 30px;
    margin-top: 5px;
}
#SearchBtn{
    width: 7vw;
    height: 25px;
    border-radius: 20px;
    padding-top: 4px;
    text-align: center;
    background-color: lightcyan;
}
.weatherContainer{
    border: 1px solid black;
    width: 100vw;
    height: 42vw;
    display: flex;
    justify-content: center;
}
.weatherContentContainer{
    
    border: 1px solid black;
    width: 40vw;
    height: 35vw;
    background-color: red;
    margin-top: 35px;
    border-radius: 25%;
}